@model Sinfonica.Web.Areas.Admin.Data.Entities.Ingreso

@{
    ViewData["Title"] = "Details";
}

 <section class="content-header">
        <h1>
            Ingresos
            <small>Detalles</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a></li>
        </ol>
    </section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    
                </div>
                <div class="box-body">
                     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AntesAplicar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AntesAplicar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequisitosNacionales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequisitosNacionales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequisitosExtranjeros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequisitosExtranjeros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Formulario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Formulario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pruebas)
        </dt>
        <dd>
            <a asp-controller="Pruebas" asp-action="Details" asp-route-id="@Model.Pruebas.Id">@Html.DisplayFor(model => model.Pruebas.Titulo)</a>
        </dd>
    </dl>
                </div>
            </div>
        </div>
    </div>
     <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
      <!-- /.row -->
    </section>

