@model IEnumerable<Sinfonica.Web.Areas.Admin.Data.Entities.Profesor>

@{
    ViewData["Title"] = "Index";


    Layout = "_Layout";
}

<link rel="stylesheet" type="text/css" href="~/css/teachers_styles.css">
<link rel="stylesheet" type="text/css" href="~/css/teachers_responsive.css">

<!-- Home -->

<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(/images/teachers_background.jpg)"></div>
    </div>
    <div class="home_content">
        <h1>Profesores</h1>
    </div>
</div>



<!-- Teachers -->

<div class="teachers page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Profesores</h1>
                </div>
            </div>
        </div>
        <div class="row">



            <!-- Teacher -->
            @foreach (var item in Model)
            {
                <div class="col-lg-4 teacher">
                    <div class="card">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <div class="card_img">


                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img class="card-img-top trans_200" src="@Url.Content(item.ImageUrl)" alt="https://unsplash.com/michaeldam">

                                }

                            </div>
                            <div class="card-body text-center">
                                <div class="card-title"><a asp-action="Details" asp-route-id="@item.Id">@item.NombreCompleto</a></div>
                                <div class="card-text">@item.Departamentos.NombreDepartamento</div>
                                <div class="teacher_social">
                                    <!--<ul class="menu_social">
                                    <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>-->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

