@model Sinfonica.Web.Areas.Admin.Data.Entities.Catedra

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Catedra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCatedra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCatedra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamentos)
        </dt>
        <dd>
            <a asp-controller="Departamentos" asp-action="Details" asp-route-id="@Model.Departamentos.Id">@Html.DisplayFor(model => model.Departamentos.NombreDepartamento) </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
