@model Sinfonica.Web.Areas.Admin.Data.Entities.Evento

@{
    ViewData["Title"] = "Details";
}


 <section class="content-header">
        <h1>
            Cursos - Profesores
            <small>Eliminar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a></li>
        </ol>
    </section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Está seguro de que desea eliminar esta entrada?</h3>
                </div>
                <div class="box-body">
                     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Encabezado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Encabezado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            <!--se agrego-->
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width: 100%; height: auto;" />
            }


        </dd>
    </dl>
                </div>
            </div>
        </div>
    </div>
      <!-- /.row -->
      
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
    </section>



