@model Sinfonica.Web.Areas.Admin.Data.Entities.Catedra

@{
    ViewData["Title"] = "Details";
}


<section class="content-header">
        <h1>
            Catedras
            <small>Detalles</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a></li>
        </ol>
    </section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                </div>
                <div class="box-body">
                     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCatedra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCatedra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamentos)
        </dt>
        <dd>
            <a asp-controller="Departamentos" asp-action="Details" asp-route-id="@Model.Departamentos.Id">@Html.DisplayFor(model => model.Departamentos.NombreDepartamento) </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
                </div>
            </div>
        </div>
    </div>
      <!-- /.row -->

        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
    </section>


