@model Sinfonica.Web.Areas.Admin.Data.Entities.Director

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carrera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estudios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estudios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            <!--se agrego-->
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width: 100%; height: auto;" />
            }


        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
