@model Sinfonica.Web.Areas.Admin.Data.Entities.Prueba

@{
    ViewData["Title"] = "Details";
}
 <section class="content-header">
        <h1>
            Pruebas
            <small>Detalles</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index"><i class="fa fa-arrow-left"></i> Regresar</a></li>
        </ol>
    </section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Encabezado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Encabezado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimeraFecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimeraFecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SegundaFeacha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SegundaFeacha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TerceraFecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TerceraFecha)
        </dd>
    </dl>
    
    
                </div>
            </div>
        </div>
    </div>
      <!-- /.row -->


    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>

    </section>


