@model Sinfonica.Web.Areas.User.Pagination.PaginatedList<Sinfonica.Web.Areas.Admin.Data.Entities.Acontecer>

@{
    ViewData["Title"] = "Index";
}







<link rel="stylesheet" type="text/css" href="~/css/events_styles.css">
<link rel="stylesheet" type="text/css" href="~/css/elements_styles.css">
<link rel="stylesheet" type="text/css" href="~/css/events_responsive.css">
<link rel="stylesheet" type="text/css" href="~/css/news_styles.css">



<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(/images/news_background.jpg);"></div>
    </div>
    <div class="home_content">
        <h1>Acontecer</h1>
    </div>
</div>



<div class="event_items">

    <!-- Event Item -->
    <div class="events page_section">
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Acontecer</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col float-lg-right">
                    <div class="button button_line_2 text-center trans_200"><a asp-action="Create">Pulbicar</a></div>
                </div>
            </div>



            <div class="event_items">

                <!-- Event Item -->
                @foreach (var item in Model)
                {
                    <div class="row event_item">
                        <div class="col">
                            <div class="row d-flex flex-row align-items-end">

                                <div class="col-lg-2 order-lg-1 order-2">
                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                        <div class="event_day"> @item.Fecha.Day</div>
                                        <div class="event_month">@item.MonthName </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 order-lg-2 order-3">
                                    <div class="event_content">
                                        <div class="event_name"><a class="trans_200" asp-action="Details" asp-route-id="@item.Id">@item.Titulo</a></div>
                                        <div class="event_location">@item.Encabezado</div>
                                        <p>

                                            @if (item.Descripcion.Length <= 125)
                                            {

                                                @item.Descripcion;

                                            }
                                            else
                                            {
                                                @item.Descripcion.Remove(125) 
                                            }

                                            ....





                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4 order-lg-3 order-1">
                                    <div class="event_image">
                                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                                        {
                                            <img src="@Url.Content(item.ImageUrl)" alt="Image" />
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>


            <div class="news_page_nav">

                @{
                    var prevDisabled = !Model.HasPreviousPage ? "not-active" : "";
                    var nextDisabled = !Model.HasNextPage ? "not-active" : "";
                }

                <ul>
                    <li class="text-center trans_200 ">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="@prevDisabled">
                            Anterior
                        </a>
                    </li>

                    <li class="text-center trans_200 @nextDisabled">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]" class=" @nextDisabled">
                            Siguiente
                        </a>

                    </li>



                </ul>


            </div>

            <hr />
            <br />
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p class="text-dark glyphicon-text-size">
                        Buscar por titulo: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                        <input type="submit" value="Buscar" class="btn btn-default button_color_2 button_line_1 table-hover" /> |
                        <a asp-action="Index" class="glyphicon-text-color">Listar todos de nuevo</a>
                    </p>
                </div>
            </form>


        </div>
    </div>
</div>

<script src="~/js/jquery-3.2.1.min.js"></script>

<script src="~/css/bootstrap4/popper.js"></script>
<script src="~/css/bootstrap4/bootstrap.min.js"></script>
<script src="~/plugins/greensock/TweenMax.min.js"></script>
<script src="~/plugins/greensock/TimelineMax.min.js"></script>
<script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="~/plugins/greensock/animation.gsap.min.js"></script>
<script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/videobg.js"></script>


