@model Sinfonica.Web.Areas.Admin.Data.Entities.Curso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CondigoCurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CondigoCurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
